Flow XML
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Sales_Territory</name>
        <label>Assign Sales Territory</label>
        <locationX>266</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>SalesTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Territory_To_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Territory_Based_On_Country</name>
        <label>Assign Sales Territory Based On Country</label>
        <locationX>69</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>SalesTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country.Sales_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Territory_To_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Country_Unknown</name>
        <label>Country Unknown</label>
        <locationX>164</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Assign_Sales_Territory_Based_On_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unknown_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Territory</targetReference>
            </connector>
            <label>Unknown Country</label>
        </rules>
    </decisions>
    <interviewLabel>Territory Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>173</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Territory_To_Lead</name>
        <label>Assign Territory To Lead</label>
        <locationX>168</locationX>
        <locationY>801</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Territory__c</field>
            <value>
                <elementReference>SalesTerritory</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>SalesTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
